body {
  background: linear-gradient(to bottom, #ffffa5, #38b7a7);
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  text-align: center;
}


h1{
    margin-bottom: 20px; /* Adiciona margem abaixo do título */
}

/* Estilização do id jogo */

#jogo{
    display: grid; /* Divide o tabuleiro em estrutura de grade */
    grid-template-columns: repeat(3, 100px); /* Define que o tabuleiro terá 3 colunas abreviadamente */
    grid-template-rows: repeat(3, 100px); /* Define que o tabuleiro tera 3 linhas semelhanteste as colunas */
    gap: 5px; /* Espaço entre as células */
    justify-content: center; /* centraliza o tabuleiro no meio da página */
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    color: black;
}

/* Bordas internas do jogo da velha */
.cell:not(:nth-child(3n)) {
    border-right: 5px solid white;
}

.cell:nth-child(-n+6) {
    border-bottom: 5px solid white;
}


#mensagem {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to bottom, #ffffa5, #38b7a7);
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    display: none;
    z-index: 1000;
    text-align: center;
}

#mensagem.mostrar {
    display: block;
}



button{
    margin-top: 20px;/* Margem acima do botão */
    padding: 10px;/* Adiciona preenchimento ao botão */
    font-size: 16px;/* Fonte do botão */
    cursor: pointer; /* Trasforma o mouse em uma mãozinha */
    background-color: rgb(102, 101, 101);
}

button:hover {
    background-color: grey;
}